/* header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    transition: padding 0.3s ease;
}

header > .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

header h2 {
    font-size: 2.5rem;  
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
}

.writer-info p {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: left;
}

.profileImg {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.resume-header {
    padding: 1rem;
}

header h1.about {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
}

header h1.portfolio {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
} */
