body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}


/* 전체 페이지 스타일 */
#root {
  height: 100%; /* 화면을 꽉 채우기 */
  width: 100%;
  justify-content: flex-start; /* 상단에 내용 배치 */
  background-color: #f3f3f3; /* 배경색 */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* 기본 폰트 */
}

/* Header 스타일 */
header {
  width: 100%;
  height: 30px;
  background-color: #d7d7d7;
  color: #fff;
  padding: 1px 16px;
  position: fixed;

  display: flex;
  align-items: center;        
  justify-content: flex-start;

  /* border-bottom: 3px solid gray; */
}


header h4{
  padding-left: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.6em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
  height: 100vh;
}

section {
  width: 100%;
  min-height: 60%;

  margin: 0;
  padding: 0 10px;
}

section h2{
  margin: 0;
  padding: 0;
}

button:active{
  background-color: black;
  outline: none;
}

